In [1]:
# diferenca entre dois datasets

import pandas as pd

#df1 = 'result.csv'
#df2 = 'result1.csv'

df1=pd.DataFrame({'A':[1,2,3,3],'B':[2,3,4,4]})
df2=pd.DataFrame({'A':[1],'B':[2]})

novos_dados_diario_oficial = df1[~df1.apply(tuple,1).isin(df2.apply(tuple,1))]

In [2]:
novos_dados_diario_oficial.head(5)

   A  B
1  2  3
2  3  4
3  3  4

In [3]:
df1=pd.DataFrame({'A':['oi, tudo bem','diario oficial 3547','jbf sdjkf','iu'],'B':[2,3,4,4]})
df2=pd.DataFrame({'A':['oi, tudo bem'],'B':[2]})

In [4]:
mask = df1['A'].isin(df2['A'])
result = df1[mask].copy()

In [5]:
result

              A  B
0  oi, tudo bem  2